
<div class="p-3 navbar bg-black bg-opacity-75 flex-row" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="navbar-container">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> CRUD
            </NavLink>  
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Client
            </NavLink>
        </div>
    </nav>
</div>
