.navbar-container {
    display:flex;
    flex-direction: row;
    column-gap: 30px;
}

.nav-item {
    display: flex;
    background-color: #ffffff0d;
    border-radius: 7px;
}

.nav-link {
    color: aliceblue;
}
