@using CustomerRepo.Data
@using CustomerRepo.Models
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext

@rendermode pageRenderMode

@page "/Devices"

<h1 class="p-h1">Devices</h1>

<div class="flex-center">
	<SearchableDynamicTable DbContext="@DbContext.Devices" ColumnsToShow="@(new[] { "DeviceID", "DeviceCode","DeviceModel"})" RowLimit="50" />
</div>

@code {
	private static IComponentRenderMode pageRenderMode = InteractiveServer;
}
