@page "/"

<PageTitle>	BCO Customer Repository| Login </PageTitle>

<div class=" mt-4 bg-black bg-opacity-10 w-50 m-3 rounded-1 p-5	 ">
	<h1> Login </h1>
	<p> please login using your BCO account found in the database. </p>
	
</div>
