@page "/login"

<PageTitle>	BCO Customer Repository| Login </PageTitle>

<section>
	<div class="flex-center login-content">
		<div class="image-box" >
		</div>

		<section class="flex-col login-f">
			<h1 class="login-form-header"> JKIS Customer Repository Back Office  </h1>
		</section>
	</div>

</section>

