@using CustomerRepo.Data
@using CustomerRepo.Models
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext

@rendermode pageRenderMode

@page "/Tokens"

<h1 class="p-h1">Tokens</h1>

<div class="flex-center">
	<SearchableDynamicTable DbContext="@DbContext.Tokens" ColumnsToShow="@(new[] { "TokenID", "TokenValue","CustomerKey" , "TokenInitDate", "TokenExpiry"})" RowLimit="50" />
</div>

@code {
	private static IComponentRenderMode pageRenderMode = InteractiveServer;
}
